[Unit]
Description=Connect your computer to your smartphone or tablet

[Service]
ExecStart=/usr/bin/kdeconnectd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
