[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/sh -c "swaybg -m fill -i $(cat %h/.cache/wal/wal)"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
